
/* <weight>: Use a value from 300 to 700
.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body{
    background-color: #405E94;
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    font-size: 80px;
    font-weight: 500;
    color: #e2e0ea;
}

h2{
    font-size: 32px;

}

h3{
    font-size: 24px;
    font-weight: 500;

}

h1,h2,h3,p {
    margin-bottom: 16px;
}

span{
    font-family: "Aboreto", sans-serif;
    font-weight: normal;
    color: black;
    background-color: #e2e0ea;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* MENU */

nav{
    display: flex;
    justify-content: end;
    padding: 24px;
}

nav > ul {
    display: flex;

}

nav > ul > li > a {
    font-size: 18px;
    font-weight: bold;
}

nav > ul > li > a:hover {
    color: white;
}

/* ABOUT ME & BOOK */

header{
    padding: 80px 0;
    display: flex;
    row-gap: 80px ;
    column-gap: 200px ;
    justify-content: center;
    align-items: center;
}
.p_section{
    margin: 0;
    padding:0 36px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 40px;
}

.book {
    flex-direction: row-reverse;
    align-items: center;
}

.p_section div :first-child {
    width: 28%;
    overflow: hidden;
}
.p_section div :first-child img {
    border-radius: 15px;
}

.p_section div :last-child{
    flex: 1;
}

.p_section div :last-child h1{
    line-height: 80px;
}

.icons {
    display: flex;
    gap: 15px;
    margin: 24px 0;
}

.icons a {
    align-items: center;
    transition: trasnform 0.2s ease;
}

.icons a:hover {
    transform: translateY(-3px);
}

.icon a i,
#contact a i {
    font-size: 36px;
    transition: color 0.2s ease-in-out;
}

.icons a i:hover,
#contact a:hover i,
#contact a:hover h2 {
    color: #e2e0ea;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}
    

.icon a img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.icons a i:hover,
#contact a:hover i,
#contact a:hover h2 {
    color: #e2e0ea;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}


.icons a img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.b_contact {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    border: 2px #B4B3B3;
    transition: all 0.2s ease-in-out;
}

.b_contact:hover {
    border-color: #e2e0ea;
    background-color: #e2e0ea;
    color: black;
    font-weight: 500;
}


/* BOOK */

.content div{
    display: flex;
    text-align: center;
    align-items: baseline;
    gap: 12px;
}


/* TOOLS */
#contact {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 5%;
}

#contact a {
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

#contact a i,
#contact a h2 {
    transition: all 0.3s ease-in-out;
}

#contact a h2 {
    margin-bottom: 0;
}