:root{
    --black-color: #000000;
    --blue-color: #405d94;
    --grey-color: #b4b3be;
    --white-color: #e2e0ea;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: var(--blue-color);
}

h1{
    font-size: 80px;
    font-weight: 500;
    color: var(--white-color);
    line-height: 80px;
}

h2{
    font-size: 32px;

}

h3{
    font-size: 24px;
    font-weight: 500;

}

h1,h2,h3,p {
    margin-bottom: 16px;
}

p {
    font-size: 18px;
}

span{
    font-family: "Aboreto", sans-serif;
    font-weight: normal;
    color: var(--black-color);
    background-color:var(--white-color);
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

/* MENU */

nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px 2%;
    position: fixed;
    width: 100%;
}

nav > ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

nav > ul > li > a {
    font-size: 22px;
    font-weight: bold;
    color: var(--grey-color);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: var(--white-color);
}

/* ABOUT ME*/

header{
    height: 100%;
    padding: 45px 0px;
    display: flex;
    align-items: end;
}

.p_section {
    margin: 0 auto;
    padding:0 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    gap: 40px;
}

.p_section > div:first-child {
    width: 30%;
    overflow: hidden;
}
.p_section > div:first-child > img {
    border-radius: 15px;
}

.p_section > div:last-child{
    flex: 1;
}

.content{
    flex: 1;
    max-width: 900px;
    color: var(--white-color);
}

.content h1{
    font-size: 64px;
    font-weight: 900;
    line-height: auto;
    color: var(--white-color);
    margin-bottom: 16px;
}

.content h2{
    font-size: 32px;
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 16px;
}

.content p{
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 16px;
    max-width: 700px;
}

.content > a{
    padding: 10px 40px;
    font-size: 18px;
    color: var(--white-color);
    display: inline-flex;
    border-radius: 30px;
    border: 1.5px solid #e2e0ea;
    margin-top: 10px;
}



.book{
    flex-direction: row-reverse;
    align-items: center;
}

/* ICONS AND BOTTON */

.icons {
    display: flex;
    gap: 15px;
    margin: 24px 0;
}

.icons a {
    align-items: center;
    transition: transform 0.2s ease;
}

.icons a:hover {
    transform: translateY(-3px);
}

.icons a i,
#contact a i{
    font-size: 36px;
    color: var(--grey-color);
    transition: color 0.3s ease-in-out;
}

.icons a:hover i {
    color: var(--white-color);
}
.icons a img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.b_contact {
    display: flex;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    color: var(--white-color);
    transition: 0.2s ease-in-out;
}

.b_contact:hover {
    border-color: #e2e0ea;
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 500;
}


/* BOOK */

.section_book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 0;
    padding: 0 40px;
}

.section_book > div:first-child > img {
    width: 350px;
    border-radius: 15px;

}

.section_book > div:last-child{
    text-align: left;
    color: var(--white-color);
}

.section_book > div:last-child h1 {
    font-size: 54px;
    margin-bottom: 30px;
}

.section_book h3 {
    font-size: 20px;
    color: var(--black-color);
    margin-bottom: 4px;
}

.section_book p {
    font-size: 18px;
    margin-bottom: 20px;
}
/* TOOLS */

#tools {
    margin-bottom: 80px 0;
}

#tools > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
#tools > div:first-child {
    
    padding: 40px 76px;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

#tools > div:first-child > img {
    width: 160px;
    height: auto;
    margin: 0;
}

#tools > div:last-child::before{
    width: 350px;
    margin-right: 30px;
}

#tools > div:last-child {
    margin: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    gap: 60px;
}

#tools > div:last-child > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 10px;
}

#tools > div:last-child > p {
    
    font-size: 18px;
    color: var(--grey-color);
    width: 320px;
    text-align: left;
    margin: 0;
    line-height: 1.6;
}

#tools h1{
    font-size: 40px;
    font-weight: 400;
    font-family: "Aboreto", sans-serif;
    background-color: var(--white-color);
    color: black;
    text-align: center;
    padding: 20px 0;
    margin: 0 0 60px 0;
    width: 100%;
}


#tools h2{
    background-color: var(--white-color);
    color: var(--black-color);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 60px;
    width: 100%;
}
#sinopsis h2 {
    background-color: var(--white-color);
    color: var(--black-color);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 60px;
    width: 100%;
}

#branding h2 {
    background-color: var(--white-color);;
    color: var(--black-color);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 60px;
    width: 100%;
}

#typography h2 {
    background-color: var(--white-color);;
    color: var(--black-color);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 60px;
    width: 100%;
}

#posters h2 {
    background-color: var(--white-color);;
    color: var(--black-color);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 60px;
    width: 100%;
}

/* CONTACT ME */

#contact {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 5%;
}

#contact a {
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

#contact a i {
    font-size: 36PX;
    transition: all 0.3s ease-in-out;
}

#contact a:hover i {
   color: #e2e0ea;

}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {

    .wrapper {
        padding: 0 20px;
    }

    h1,
    .section_book h1 {
        font-size: 42px;
        line-height: 48px;
    }

    h2{
        font-size: 26px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }
    
    nav{
        padding: 16px 20px;
    }

    nav > ul {
        gap: 20px;
    }

    nav > ul > li > a {
        font-size: 16px;
    }

    header {
        height: auto;
        padding: 40px 30px;
        gap: 40px;
    }
    .p_section {
        padding-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .p_section > div:first-child {
        width: 200px;
    }
    .p_section > div:first-child >img {
        height: stretch;
        width: 100px;
    }

    #tools > div {
        justify-content: center;
    }

    #tools > div > img {
        width: 80px;
        height: auto;
    }
    #tools > div > p,
    #sinopsis p {
        margin: 4% 6%;

    }
    .p_section div:first-child {
        width: 60%;
    }

    .book div:first-child img {
        height: auto;
    }

    #posters .p_info .card {
        width: 45%;
    }

    #branding .b_info,
    #typography .t_info{
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    #typography .t_info {
        flex-direction: column;
    }

    #branding .b_info > div:first-child,
    #typography .t_info > div:first-child{
        justify-content: center;
    }

    #contact{
        height: 100%;
    }

    #contact a {
        gap: 20px;
    }

}

/* MOBILE */
@media screen and (max-width: 480px) {
    
    h1,
    .content h1{
        font-size: 32px;
        line-height: 38px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
    nav{
        padding: 12px 16px;
    }

    nav > ul{
        gap: 18px;
    }

    nav > ul > li > a {
        font-size: 16px;
    }

    header{
        padding: 24px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .p_section {
        padding: 0 20px;
        padding-top: 10%;
        gap: 20px;
    }

    .p_section > div:first-child {
        width: 80px;
    }

    .p_section > div:first-child > img{
            width: 100%;
            object-fit: cover;
            object-position: top;
            max-height: 340px;
     }

    #tools > div > img{
        width: 70px;

    }

    #posters{
        padding: 24% 0;
    }

    .content{
        width: 100%;
    }
}